<nav class="navbar navbar-expand-lg navbar-light bg-dark" >
        

    <a class = "navbar-brand" href="/" > 
        <img src="img/per.jpg" alt="Logo Perguntas">
    
    </a>
    <p  id="ParagrafoNav" >Aqui Perguntas</p>
    
</nav>